<!DOCTYPE html>
<head>
    <title><%= title %></title>
</head>
<body>
    <p>
        Name = <%=NAME%>
    </p>
    <p>
        ID = <%= ID%>
    </p>
    <p>
        비밀번호 변경 및 회원탈퇴는 관리자에게 문의
    </p>

</body>