<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <!--<link rel='stylesheet' href='/stylesheets/style.css'/>-->
</head>
<body>
<h1><%= title %></h1>

<form action="/board/write" method="post">
    <table border="1">
        <tr>
            <td>name</td>
            <td><input type="text" name="name" id="name" required/></td>
        </tr>
        <tr>
            <td>title</td>
            <td><input type="text" name="title" id="title" required/></td>
        </tr>
        <tr>
            <td>connents</td>
            <td><textarea name="content" id="content" cols="30" rows="10" required></textarea></td>
        </tr>
        <tr>
            <td>passwd</td>
            <td><input type="password" name="passwd" id="passwd" required/></td>
        </tr>
        <tr>
            <td colspan="2">
                <button type="submit">글쓰기</button>
                <button type="submit" formatcion="/board/page">목록</button>
            </td>
        </tr>
    </table>
</form>

</body>
</html>